/*==================================================
                    HEADER
==================================================*/

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding:20px;
}

/* Search */

.header-search {
    width: 320px;
    height: 42px;
    background: #fff;
    border: 1px solid #cde8e2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    transition: .3s;
}

    .header-search:hover {
        border-color: #35b4a0;
    }

    .header-search:focus-within {
        border-color: #35b4a0;
        box-shadow: 0 0 0 4px rgba(53,180,160,.12);
    }

    .header-search i {
        color: #7fa6a1;
        margin-right: 10px;
    }

    .header-search input {
        width: 100%;
        border: 0;
        outline: none;
        background: none;
        font-size: 14px;
    }

/* Right */

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Wallet */

.wallet {
    height: 42px;
    padding: 0 16px;
    background: #EEFBEF;
    border: 1px solid #4ECDC4;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #176c75;
    font-weight: 600;
    transition: .3s;
}

    .wallet img, .deposit img, .header-icon img {
        width: 25px;
    }
.header-icon:hover img {
    filter: brightness(0) invert(1);
}

.wallet:hover {
            transform: translateY(-2px);
            box-shadow: 0 10px 20px rgba(0,0,0,.08);
        }

/* Deposit */

.deposit {
    height: 42px;
    padding: 0 18px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    background: #ff6666;
    color: #fff;
    font-weight: bold;
    transition: .3s;
    font-size: 14px;
}


    .deposit:hover {
        background: #ff5353;
        transform: translateY(-2px);
    }

/* Circle Icon */

.header-icon {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #cde8e2;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

    .header-icon:hover {
        background: #176c75;
        color: #fff;
    }

/* Profile */

.profile {
    width: 65px;
    height: 42px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #4ecdc4;
    transition: .3s;
    background: #eefbef;
    position:relative;
}

    .profile img {
        width: 56%;
        float:left;
    }

    .profile:hover {
        transform: scale(1.08);
    }
    .profile i {
        position: absolute;
        right: 10px;
        top: 15px;
        color: #1A535C;
        font-size:10px;
    }


    /*=======================  USER ACC  ============================*/
.account-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.45);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    z-index: 998;
}

    .account-overlay.active {
        opacity: 1;
        visibility: visible;
    }

.account-drawer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 430px;
    max-width: 100%;
    height: 90vh;
    background: #EEFBEF;
    transform: translateX(100%);
    transition: .35s ease;
    z-index: 1000;
    overflow-y: auto;
    border-radius: 20px 0px 0px 0px;
}

    .account-drawer.active {
        transform: translateX(0);
    }


/*======================================
    Account Header
======================================*/

.account-header {
    padding: 18px;
}

.account-header-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;

}

.header-icon-btn,
.drawer-close {
    width: 34px;
    height: 34px;
    border: none;
    background: transparent;
    color: #2B7C84;
    font-size: 18px;
    cursor: pointer;
    transition: .25s;
}

    .header-icon-btn:hover,
    .drawer-close:hover {
        color: #00A8A8;
    }

/*======================================
    Profile
======================================*/

.account-profile {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 18px;
}

.profile-avatar {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    overflow: hidden;
    background: #DDF8F5;
    flex-shrink: 0;
}

    .profile-avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.profile-info {
    flex: 1;
}

    .profile-info h3 {
        font-size: 20px;
        color: #21535A;
        font-weight: 700;
        margin-bottom: 3px;
    }

    .profile-info span {
        font-size: 13px;
        color: #7A979C;
    }

.profile-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 40px;
    padding: 0 18px;
    border-radius: 25px;
    border: 1px solid #CDECEC;
    color: #2B7C84;
    background: #fff;
    font-size: 13px;
    font-weight: 600;
    transition: .25s;
}

    .profile-btn:hover {
        background: #DFF8F5;
    }

/*======================================
    Welcome
======================================*/

.welcome-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: 16px;
    background: #fff;
    border: 1px solid #4ecdc4;
    box-shadow: 0 8px 20px rgba(0,0,0,.04);
}

.welcome-left {
    display: flex;
    align-items: center;
    gap: 14px;
}

.welcome-icon {
    width: 42px;
    height: 42px;
    border-radius: 10px;
    background: #E8FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #168C8E;
    font-size: 22px;
}

    .welcome-icon i {
        color: #ff6666;
    }
    .welcome-content h4 {
    font-size: 15px;
    color: #28545A;
    margin-bottom: 4px;
}

.welcome-content p {
    font-size: 12px;
    color: #8A989D;
}

.welcome-btn {
    padding: 11px 18px;
    border-radius: 22px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    background: #ff6666;
    transition: .25s;
}

    .welcome-btn:hover {
        transform: translateY(-2px);
    }

/*======================================
    Details
======================================*/

.account-details {
    padding: 0 18px 18px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.detail-card {
    background: #F9FEFD;
    border: 1px solid #4ecdc4;
    border-radius: 12px;
    padding: 12px;
    min-height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .detail-card span {
        font-size: 11px;
        color: #95A7AA;
        margin-bottom: 6px;
    }

    .detail-card strong {
        font-size: 14px;
        color: #28545A;
        font-weight: 600;
        line-height: 1.4;
    }

    .detail-card.full {
        grid-column: 1/-1;
    }

.green {
    color: #17A84D !important;
}

.orange {
    color: #F6A623 !important;
}
.orange, .green {
    font-weight:bold !important;
    font-size:18px !important;
}
    /*======================================
    Section
======================================*/
    .account-section {
        padding: 0 18px 22px;
    }

    .account-section h4 {
        font-size: 20px;
        color: #2C6F75;
        margin-bottom: 14px;
        font-weight: 700;
    }

/*======================================
    Wallet
======================================*/

.wallet-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.wallet-card {
    background: #fff;
    border: 1px solid #4ecdc4;
    border-radius: 14px;
    height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #2B7C84;
    transition: .25s;
}

    .wallet-card i {
        font-size: 20px;
    }

    .wallet-card h5 {
        font-size: 14px;
        font-weight: 600;
    }

    .wallet-card small {
        font-size: 11px;
        color: #0F9A89;
    }

    .wallet-card.active {
        background: #DDF8F5;
    }

    .wallet-card:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0,0,0,.08);
    }

/*======================================
    Account Menu
======================================*/

.account-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.account-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 95px;
    padding: 10px 3px;
    gap: 8px;
    background: #fff;
    border: 1px solid #4ecdc4;
    border-radius: 14px;
}

    .account-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 25px rgba(0,0,0,.08);
    }

    .account-card img,
    .account-card i {
        font-size: 28px;
        width: 42px;
        height: 42px;
        margin: 0;
    }

    .account-card span {
        line-height: 1.3;
        color: #2B7C84;
        font-size: 14px;
        font-weight: 600;
    }


/*======================================
    Footer
======================================*/

.account-footer {
    margin-top: 20px;
    padding: 20px 18px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout-btn {
    height: 42px;
    padding: 0 20px;
    border-radius: 22px;
    border: 1px solid #4ecdc4;
    background: #fff;
    color: #2B7C84;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    cursor: pointer;
}

    .logout-btn:hover {
        background: #E8FAF8;
    }

.support-float {
    width: 52px;
    height: 52px;
    border: none;
    border-radius: 50%;
    background: #ff6666;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(255,96,96,.35);
}

body.drawer-open {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #1A535C;
}

::-webkit-scrollbar-thumb {
    background: #4ECDC4;
    border-radius: 999px;
}

/* ===============================
   Trophy Dropdown
================================= */

.header-dropdown {
    position: relative;
}

.mega-dropdown {
    position: absolute;
    top: 55px;
    right: 0;
    background: #edf7f4;
    border: 1px solid #63c7c7;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,.1);
    padding: 15px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: .3s;
    z-index: 999;
}

.header-dropdown:hover .mega-dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* Arrow */

.mega-dropdown::before {
    content: "";
    position: absolute;
    top: -8px;
    right: 40px;
    width: 14px;
    height: 14px;
    background: #fff;
    border-top: 1px solid #63c7c7;
    border-left: 1px solid #63c7c7;
    transform: rotate(45deg);
}

/* Header */

.dropdown-header {
    margin-bottom: 15px;
}

    .dropdown-header h3,
    .dropdown-header p {
        margin: 0;
        font-size: 14px;
        color: #1d5d63;
        font-weight: 600;
    }

/* Grid */

.dropdown-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

/* Card */

.dropdown-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #d7ecec;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: #1d5d63;
    transition: .3s;
    gap: 10px;
}

/* Left */

.card-icon {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eef8f8;
    border-radius: 50%;
    font-size: 16px;
    flex-shrink: 0;
}

    .card-icon img {
        width:25px;
        height:25px;
    }
    
    .card-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 4px;
    }

    .card-info h4,
    .card-info span {
        margin: 0;
        font-size: 14px;
        font-weight: 500;
        white-space: nowrap;
    }

    .card-info h4 {
        color: #1d5d63;
    }
    .card-info span {
            color: #fff;
        }


        /* Right */
.level {
    display: inline-block;
    padding: 2px 8px;
    font-size: 12px;
    color: #fff;
    background: #ff6666;
    border-radius: 20px;
}

.arrow {
    font-size: 14px;
    transition: .3s;
}

/* Hover */

.dropdown-card:hover {
    background: #1d5d63;
    color: #fff;
}

    .dropdown-card:hover h4,
    .dropdown-card:hover span {
        color: #fff;
    }

    .dropdown-card:hover .card-icon {
        background: #fff;
    }

    .dropdown-card:hover .level {
        background: #fff;
        color: #1d5d63;
    }

    .dropdown-card:hover .arrow {
        transform: translateX(4px);
        color: #fff;
    }


